* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 16px;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 18px 24px 32px 24px;
    box-shadow: 10px 0 30px 10px #b2b2b2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.header__link, .footer__link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__close {
    background: #FF3E79 url("./img/close.png") no-repeat 50% 50%;
    margin-bottom: 10px;
}

.header__search {
    background: #FF3E79 url("./img/search.png") no-repeat 50% 50%;

}

.header__close:active {
    background: #ef3669 url("./img/close.png") no-repeat 50% 50%;
    margin-bottom: 10px;
}

.header__search:active {
    background: #ef3669 url("./img/search.png") no-repeat 50% 50%;

}

.header__logo {
    margin-left: 17px ;
}




.main {
    flex-grow: 1;
    padding-top: 50px;
    margin-bottom: 268px;
    position: relative;
}

.main__categories li {
    padding-top: 6px;
}

.main__categories li:not(:last-child) {
    margin-bottom: 32px;
}

.main__categories li:hover {
    opacity: 60%;
    /*transition: .2s;*/
    cursor: pointer;

}

/*.main__categories  li:first-child:after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 45px;*/
/*    left: -24px;*/
/*    height: 32px;*/
/*    width: 4px;*/
/*    background-color: #41F6D7;*/
/*    border-radius: 0 2px 2px 0;*/
/*}*/

.main__categories > li:active {

    border-left: 4px solid #41F6D7;
    height: 30px;
    border-radius: 0 2px 2px 0;
    padding-left: 20px;
    margin: 0 0 26px -20px;
    transition: none;
}



.footer__contacts {
    display: flex;
}

.footer__contacts li:not(:first-child) {
    margin-left: 1rem;
    margin-bottom: 18px;
}

.footer__tel {
    background: #FF3E79 url("./img/tel.png") no-repeat 50% 50%;
}
.footer__messages {
    background: #FF3E79 url("./img/messages.png") no-repeat 50% 50%;
}
.footer__man {
    background: #FF3E79 url("./img/man.png") no-repeat 50% 50%;
}

.footer__tel:active {
    background: #ef3669 url("./img/tel.png") no-repeat 50% 50%;
}
.footer__messages:active {
    background: #ef3669 url("./img/messages.png") no-repeat 50% 50%;
}
.footer__man:active {
    background: #ef3669 url("./img/man.png") no-repeat 50% 50%;
}



.footer__email {
    margin-bottom: 15px;
}

.footer__phone {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

.footer__language {
    display: flex;
}

.footer__language li a{
    margin-right: 7px;
}

.footer__language li:active, .footer__language li:first-child {
    opacity: 60%;
}